{% load static %}
<style>
    .footer-custom {
        background-color: #0B1623;
        /* Color Noche */
        color: white;
        padding: 40px 0;
        margin-top: auto;
        width: 100%;
    }

    .footer-logo-img {
        max-height: 50px;
        width: auto;
    }

    /* Asegura que los links del footer sean blancos */
    .footer-custom a {
        color: white;
        text-decoration: none;
    }

    .footer-custom a:hover {
        color: #ccc;
    }
</style>

<footer class="footer-custom">
    <div class="container">
        <div class="d-flex justify-between aling-items-center">

            <div class="col-md-8 text-center text-md-start mb-3 mb-md-0">
                <div class="d-flex items-center justify-start gap-1">
                    <i class="bi bi-instagram mr-2"></i>
                    <small>@resistenciaviva_agendacultural</small>

                </div>
                <div class="d-flex items-center justify-start gap-1">
                    <i class="bi bi-facebook"></i>
                    <p class="mb-0 ">Resistencia Viva Agenda Cultural</p>

                </div>
            </div>

            <div class="d-flex text-center text-md-end gap-3">
                <div class="d-flex flex-column align-items-start mb-3 gap-1">
                    <a href="/" class="btn-footer border border-2 px-2 ">Nosotros</a>
                    <a href="/" class="btn-footer border border-2 px-2">Contacto</a>
                </div>
                <div class="d-flex flex-column align-items-start ">
                    <div class="mb-2">
                        <img src="{% static 'public/logo2.png' %}" alt="Resistencia Viva"
                            class="footer-logo-img d-inline-block">
                    </div>
                    <div class="d-flex align-items-center gap-1">
                        <small class="text-nowrap ms-2">Desarrollado por: </small>
                        <strong class="text-uppercase tracking-widest text-nowrap ">LEGENDS GROUP</strong>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>