{% load static %}

<div class="container header-container">
    <div class="row align-items-center mb-4">
        <div class="col-md-4">
            <a href="{% url 'core:index' %}" class="text-decoration-none">
                <img src="{% static 'public/logo1.png' %}" alt="Resistencia Viva Logo" style="max-height: 80px; width: auto;">
            </a>
        </div>

        <div class="col-md-8 d-flex justify-content-end align-items-center gap-3">
            <form action="{% url 'core:index' %}" method="GET" style="position: relative; width: 300px;">
                <input type="text" name="q" class="form-control search-input" placeholder="" value="{{ request.GET.q|default:'' }}">
                <button type="submit" class="search-btn"><i class="bi bi-search text-dark"></i></button>
            </form>

            {% if user.is_authenticated %}
                <form action="{% url 'user:login' %}" method="post"> 
                    {% csrf_token %}
                    <button type="submit" class="btn-login-header">LOGOUT</button>
                </form>
            {% else %}
                <a href="{% url 'user:login' %}" class="btn-login-header">Login</a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-end align-items-center nav-links">
            <a href="?categoria=1" class="nav-link-custom {% if request.GET.categoria == '1' %}active{% endif %}">
               Artes Visuales
            </a>
            <a href="?categoria=2" class="nav-link-custom {% if request.GET.categoria == '2' %}active{% endif %}">
               Musica y Cine
            </a>
            <a href="?categoria=3" class="nav-link-custom {% if request.GET.categoria == '3' %}active{% endif %}">
               Teatros
            </a>
            <a href="?categoria=4" class="nav-link-custom {% if request.GET.categoria == '4' %}active{% endif %}">
               Eventos
            </a>
        </div>
    </div>
</div>